#reserved-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 3rem;
  margin-top: 1rem;
}

#reserved-container h2 {
  font-weight: normal;
  color: #484747;
  padding-bottom: 1rem;
}

#reserved-container li {
  color: #484747;
  padding: 2rem 2rem;
  border-bottom: 0.1rem solid #a4a4a4;
}

.profiles-container {
  border: 0.1rem solid #a4a4a4;
  border-radius: 3px;
}