@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --poppins: 'Poppins', sans-serif;
}

/* Global */
html {
  box-sizing: border-box;
}

body {
  font-family: var(--poppins);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Utilities */
.container {
  max-width: 144rem;
  width: 92%;
  margin: 0 auto;
}

.flex {
  display: flex;
}
