@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --poppins: 'Poppins', sans-serif;
}

/* Global */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: var(--poppins);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button:hover {
  cursor: pointer;
}

/* Utilities */
.container {
  max-width: 144rem;
  width: 92%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr;
}

.bg-gray {
  background-color: #f2f2f2;
}

/* Missions */
.flex-item {
  flex: 1;
  border: 0.1rem solid #d1d1d1;
  padding: 1rem;
}

.flex-item-bigger {
  flex: 4.5;
  border: 0.1rem solid #d1d1d1;
  padding: 1rem;
  font-size: 1.4rem;
}

.mission-container {
  padding: 2rem 0;
}

.title-description {
  font-size: 1.872rem;
}
